.app {
    text-align: center;
}

h2 {
    color: orange;
    font-size: 70px;
    font-weight: 900;
}

button.grey-pill {
    background-color: rgb(153, 14, 14);
    border: 2px solid rgb(14, 5, 5);
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.grey-pill:hover {
    background-color: #ffffff;
    color: rgb(73, 73, 73);
}
.heading {
    color: dodgerblue;
    font-size: 100px;
}

button.blue-pill {
    background-color: rgb(41, 18, 132);
    border: 2px solid rgb(22, 19, 19);
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.blue-pill:hover {
    background-color: #ffffff;
    color: rgb(73, 73, 73);
}

button.green-pill {
    background-color: rgb(7, 156, 57);
    border: 2px solid rgb(12, 2, 2);
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.green-pill:hover {
    background-color: #ffffff;
    color: rgb(73, 73, 73);
}
button.yellow-pill {
    background-color: rgb(200, 183, 26);
    border: 2px solid rgb(19, 7, 7);
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.yellow-pill:hover {
    background-color: #ffffff;
    color: rgb(73, 73, 73);
}